<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SnexStore | E-Commerce Website</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" 
	rel="stylesheet">
</head>
<body>
<!---- Account-page --->

<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<img src="{% static 'pics/image1.png' %}" width="100%">
			</div>
			<div class="col-2">
				<div class="form-container">
					<div class="form-btn">
						<span onclick="login()">Login</span>
						<span onclick="register()">Register</span>
						<hr id="Indicator">
					</div>
					<form id="LoginForm" action="login" method="post">
						{% csrf_token %}
						<input type="text" name="username" placeholder="Username">
						<input type="password" name="password" placeholder="Password">
						<button type="submit" class="btn">Login</button>
						<a href="">Forgot password?</a>
					</form>
					<form id="RegForm" action="register" method="post">
						{% csrf_token %}
						<input type="text" name="username" placeholder="Username">
						<input type="email" name="email" placeholder="Email">
						<input type="password1" name="password1" placeholder="Password">
						<input type="password2" name="password2" placeholder="Confirm Password">
						<button type="submit" class="btn">Register</button>
						
					</form>
					<div>
      				{% for message in messages %}
      					<h3> {{message}} </h3>
      				{% endfor %}
  </div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!--- Js fo toggle menu --->
	<script>
		var MenuItems = document.getElementById("MenuItems");
		
		MenuItems.style.maxHeight = "0px";
		
		function menutoggle(){
			if(MenuItems.style.maxHeight == "0px")
				{
					MenuItems.style.maxHeight = "200px";
				}
			else
				{
					MenuItems.style.maxHeight = "0px";
				}
		}
	</script>
	<!--- Js fo toggle form --->
	
	<script>
	
	var LoginForm = document.getElementById("LoginForm");
	var RegForm = document.getElementById("RegForm");
	var Indicator = document.getElementById("Indicator");
	
		function register(){
		
			RegForm.style.transform = "translateX(0px)";
			LoginForm.style.transform = "translateX(0px)";
			Indicator.style.transform = "translateX(100px)";
		}
		
		function login(){
		
			RegForm.style.transform = "translateX(300px)";
			LoginForm.style.transform = "translateX(300px)";
			Indicator.style.transform = "translateX(0px)";
		}
	
	</script>
	
	
</body>
</html>